// Body
$body-bg: #fafafa;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #164e7c;
$indigo: #7a81aa;
$purple: #513c70;
$pink: #a7204d;
$red: #921713;
$orange: #9c540b;
$yellow: #ffed4a;
$green: #268f51;
$teal: #2d746c;
$cyan: #0581e6;
